@import 'variables';

.feedback-form {
    > .feedback-form__title {
        margin-bottom: 10px;
    }

    > .feedback-form__body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
